.centered,
.centered > * {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	* {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.site-width {
	width: calc(100% - 2rem);
	max-width: map-get($breakpoints, xl);
	margin-left: auto;
	margin-right: auto;
	@include bp(md) {
		width: calc(100% - 4rem);
	}
	// padding-left: 1rem;
	// padding-right: 1rem;
}

.post-edit-link {
	position: absolute;
}

.callout {
	background-color: $lgray;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	@include bp(sm) {
		text-align: right;
	}
}

.hide-md {
	display: none;
	@include bp(md) {
		display: block;
	}
}

.brand-font {
	color: $brand !important;
}

.pad-x {
	padding-left: $spacing-unit * 3;
	padding-right: $spacing-unit * 3;
}

.pad-y {
	padding-top: $spacing-unit * 3;
	padding-bottom: $spacing-unit * 3;
}

.pad-b {
	padding-bottom: $spacing-unit * 3;
}

.mar-x {
	margin-left: $spacing-unit * 3;
	margin-right: $spacing-unit * 3;
}

.mar-y {
	margin-top: $spacing-unit * 3;
	margin-bottom: $spacing-unit * 3;
}

.mar-b {
	margin-bottom: $spacing-unit * 3;
}